doctype html
//
  Transit by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html(lang='en')
  head
    meta(charset='UTF-8')
    title Flextech Online Library
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='The Flextech Online Library')
    meta(name='keywords', content='flextech, online, library')
    //if lte IE 8
      script(src='js/html5shiv.js')
    script(src='js/jquery.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-layers.min.js')
    script(src='js/init.js')
  body.landing
    // Header
    header#header
      h1
        a(href='HTTP://www.flextech-hs.org')
          img#logo(src='images/flextech-logo.png')
      nav#nav
        ul
          li
            a.button(href='index.html') Home
          li
            a.button(href='browse.html') Browse
    // Banner
    section#banner
      h2 FlexTech Online Library
      p Welcome to the Flextech Online Library!
      ul.actions
        li
          a.button.big(href='browse.html') Browse Library
